*{
    margin: 0;
    padding: 0;
}

.container {
    width: 50vw;
    height: 60vh;
    background-color: gray;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: repeat(auto-fill, 100px);
    grid-template-areas: "item1 item2 item3"
        "item4 item5 item6";
}

.container>* {
    width: 40px;
    height: 50px;
}

#item1 {
    background-color: darkkhaki;
    grid-area: item4;
}

#item2 {
    background-color: darkgreen;
}

#item3 {
    background-color: darkred;
    
}

#item4 {
    background-color: darkgoldenrod;
    grid-area: item1;

}

#item5 {
    background-color: darkslategrey;
}

#item6 {
    background-color: darkkhaki;
}
